@font-face {
    font-family: 'AmiriWeb';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/amiri-regular.eot?') format('eot'),
         url('./fonts/amiri-regular.woff') format('woff'),
         url('./fonts/amiri-regular.ttf')  format('truetype');
}

@font-face {
    font-family: 'AmiriWeb';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/amiri-bold.eot?') format('eot'),
         url('./fonts/amiri-bold.woff') format('woff'),
         url('./fonts/amiri-bold.ttf')  format('truetype');
}

@font-face {
    font-family: 'AmiriWeb';
    font-style: oblique;
    font-weight: 400;
    src: url('./fonts/amiri-slanted.eot?') format('eot'),
         url('./fonts/amiri-slanted.woff') format('woff'),
         url('./fonts/amiri-slanted.ttf')  format('truetype');
}

@font-face {
    font-family: 'AmiriWeb';
    font-style: oblique;
    font-weight: 700;
    src: url('./fonts/amiri-boldslanted.eot?') format('eot'),
         url('./fonts/amiri-boldslanted.woff') format('woff'),
         url('./fonts/amiri-boldslanted.ttf')  format('truetype');
}