@charset "UTF-8";

@font-face {
  font-family: "gh-blog-font";
  src:url("fonts/gh-blog-font.eot");
  src:url("fonts/gh-blog-font.eot?#iefix") format("embedded-opentype"),
    url("fonts/gh-blog-font.woff") format("woff"),
    url("fonts/gh-blog-font.ttf") format("truetype"),
    url("fonts/gh-blog-font.svg#gh-blog-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "gh-blog-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "gh-blog-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bookmark:before {
  content: "c";
}
.icon-search:before {
  content: "d";
}
.icon-attention:before {
  content: "e";
}
.icon-bookmark-1:before {
  content: "f";
}
.icon-menu:before {
  content: "g";
}
.icon-forward:before {
  content: "h";
}
.icon-quote:before {
  content: "i";
}
.icon-right-open:before {
  content: "j";
}
.icon-up-open:before {
  content: "k";
}
.icon-left-open:before {
  content: "l";
}
.icon-down-open:before {
  content: "m";
}
.icon-dot-3:before {
  content: "n";
}
.icon-erase:before {
  content: "o";
}
.icon-cog:before {
  content: "p";
}
.icon-clock:before {
  content: "q";
}
.icon-calendar:before {
  content: "r";
}
.icon-facebook:before {
  content: "s";
}
.icon-globe:before {
  content: "t";
}
.icon-lamp:before {
  content: "u";
}
.icon-location:before {
  content: "v";
}
.icon-pencil:before {
  content: "w";
}
.icon-share:before {
  content: "x";
}
.icon-star:before {
  content: "y";
}
.icon-star-empty:before {
  content: "z";
}
.icon-user:before {
  content: "A";
}
.icon-twitter:before {
  content: "B";
}
.icon-picture:before {
  content: "C";
}
.icon-vimeo:before {
  content: "D";
}
.icon-thumbs-up:before {
  content: "E";
}
.icon-gplus:before {
  content: "F";
}
.icon-attach:before {
  content: "G";
}
.icon-check:before {
  content: "H";
}
.icon-cancel:before {
  content: "I";
}
.icon-thumbs-down:before {
  content: "J";
}
.icon-tumblr:before {
  content: "L";
}
.icon-rss:before {
  content: "a";
}
