@charset "UTF-8";

@font-face {
  font-family: "gh-blog-font";
  src:url("fonts/gh-blog-font.eot");
  src:url("fonts/gh-blog-font.eot?#iefix") format("embedded-opentype"),
    url("fonts/gh-blog-font.woff") format("woff"),
    url("fonts/gh-blog-font.ttf") format("truetype"),
    url("fonts/gh-blog-font.svg#gh-blog-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "gh-blog-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "gh-blog-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bookmark:before {
  content: "\e000";
}
.icon-search:before {
  content: "\e001";
}
.icon-attention:before {
  content: "\e002";
}
.icon-bookmark-1:before {
  content: "\e003";
}
.icon-menu:before {
  content: "\e004";
}
.icon-forward:before {
  content: "\e005";
}
.icon-quote:before {
  content: "\e006";
}
.icon-right-open:before {
  content: "\e007";
}
.icon-up-open:before {
  content: "\e008";
}
.icon-left-open:before {
  content: "\e009";
}
.icon-down-open:before {
  content: "\e00a";
}
.icon-dot-3:before {
  content: "\e00b";
}
.icon-erase:before {
  content: "\e00c";
}
.icon-cog:before {
  content: "\e00d";
}
.icon-clock:before {
  content: "\e00e";
}
.icon-calendar:before {
  content: "\e00f";
}
.icon-facebook:before {
  content: "\e010";
}
.icon-globe:before {
  content: "\e011";
}
.icon-lamp:before {
  content: "\e012";
}
.icon-location:before {
  content: "\e013";
}
.icon-pencil:before {
  content: "\e014";
}
.icon-share:before {
  content: "\e015";
}
.icon-star:before {
  content: "\e016";
}
.icon-star-empty:before {
  content: "\e017";
}
.icon-user:before {
  content: "\e018";
}
.icon-twitter:before {
  content: "\e019";
}
.icon-picture:before {
  content: "\e01a";
}
.icon-vimeo:before {
  content: "\e01b";
}
.icon-thumbs-up:before {
  content: "\e01c";
}
.icon-gplus:before {
  content: "\e01d";
}
.icon-attach:before {
  content: "\e01e";
}
.icon-check:before {
  content: "\e01f";
}
.icon-cancel:before {
  content: "\e020";
}
.icon-thumbs-down:before {
  content: "\e021";
}
.icon-tumblr:before {
  content: "\e022";
}
.icon-rss:before {
  content: "\e023";
}
.icon-github:before {
  content: "\e024";
}
.icon-stop:before {
  content: "\e025";
}
