@import (reference) 'variables';
@import (reference) 'responsive';


.grid {
    box-sizing: border-box;

    display: flex;
    flex-flow: row wrap;

    width: 100%;
    max-width: 100%;
    padding: 0;

    .col {
        box-sizing: border-box;

        display: inline-block;
        flex: 0 1 auto;

        overflow: hidden;

        margin: 1%;
        margin-bottom: @col-margin-bottom;

        padding: 15px;
        padding-bottom: 10px;

        vertical-align: top;

        @media @smartphone {
            // column-count: @column-count-small;
            width: 100%/@column-count-small - 2%;
        }

        @media @tablet and (orientation: landscape) {
            // column-count: @column-count-medium-landscape;
            width: 100%/@column-count-medium-landscape - 2%;
        }

        @media @tablet and (orientation: portrait) {
            // column-count: @column-count-medium-portrait;
            width: 100%/@column-count-medium-portrait - 2%;
        }

        // @media @desktop {
            // column-count: @column-count-large;
            width: 100%/@column-count-large - 2%;
        // }

        @media @large {
            // column-count: @column-count-xlarge;
            width: 100%/@column-count-xlarge - 2%;
        }
    }
}

.centered {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text-centered {
    text-align: center;
}

.subtle {
    color: @subtle-color;
    opacity: .8;
    small& {
        opacity: .5;
    }
}

.icon {

    &.large {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 3.5rem;
        color: @header-icon-hover-color;
    }

    &.fail {
        // color: @card-icon-fail-color;
    }
}

.hidden {
    display: none;
}