@import (inline) 'imports.css';
// @import (inline) 'node_modules/normalize.css/normalize.css';
@import 'github-markdown';
@import (reference) 'variables';
@import 'layout';
@import 'card';
// @import (inline) 'amiri.css';
@import 'spinner';

body {
    html[dir="rtl"] & {
        direction: rtl;
    }
    color: @body-color;
    display: flex;
    flex-flow: column wrap;
    margin: 0;
    background: @background-color;
    * {
        box-sizing: border-box;
    }
}

main, header {
    padding: 8px;
}

.view {
    width: 100%;
    max-width: 100%;
}

@import 'header';

@import 'home';

@import 'post';

@import (inline) 'icon-font.css';