main.blog-view
    a.post(href='/#/{{ post.url }}', ng-repeat='post in posts')
        h1.title {{ post.title }}
        .media-container: img(ng-if='post.img', ng-src='{{ post.img }}')
        p.excerpt {{ post.excerpt }}
        small.date {{ post.date | date }}
        //- a(href='/#/{{ post.url }}') تابع القراءة...