a.post(ng-href=link + '/#!/{{ post.url }}', ng-repeat='post in page', class='{{ post.type }}')
    .post-inner
        .content.markdown-body(dir='rtl')
            h2.title {{ post.title }}
            .metadata
                small كُتبت
                    | 
                    abbr(title='{{ post.date | moment:"LL" }}')
                        time.date(datetime='{{ post.date }}')
                            | {{ post.date | moment }}
            p.excerpt {{ post.description }}
        .cover.media-container: img(ng-if='post.image', ng-src='{{ post.image }}')

div(ng-hide='state != "loading"')
    include ../_spinner