.post-view(ng-switch='state')
    .post(ng-switch-when='ready')
        .content.markdown-body(dir='rtl')
            article(ng-bind-html='post.html')
            footer
                small كتبها 
                    a.author(href=author.url)=author.name
                    | 
                    time.date(datetime='{{ post.date }}', title='{{ post.date | moment:"LL" }}')
                        | {{ post.date | moment }}

        disqus#comments(shortname=disqus.shortname,
            identifier='{{ post.id }}', url=link + '/#!/{{ post.url }}', title='{{ post.title }}')

    .post(ng-switch-when='loading')
        article.markdown-body
            h1 {{ post.title }}
            p {{ post.description }}
        include ../_spinner