header
    .options
        // stuff
    .title
        h1 {{ blog.title }}
        //- label {{ blog.description }}
    .search
        .card.card-input
            i.icon.icon-search
            input(type='search', placeholder='ابحث في المدونة')